<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Sciences use are:

<ol>
    <li> R </li>
    <li>Python</li>
    <li>Sql</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol> 
    <li>Pandas</li>
    <li>NumPy</li>
    <li>Matplotlib</li>
</ol>

|Data Science tools|
|------------------|
|MongoDB|
|ApacheSpark|
|TensorFlow|

<h3> Below are a few examples of evaluating arithmetic expressions in Python</h3>

## This a simple arithmetic expression to multiply then add integers.

In [6]:
(3*4)+5

17

In [7]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<b> Objectives:

<ul>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ul>

<h2> Author</h2>

Tue Minh